<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                {% set mainMenu = get_main_menu() %}

                {% for item in mainMenu %}
                    {% if item.is_title is defined and item.is_title %}
                        <li class="menu-title">{{ item.label }}</li>
                    {% else %}
                        <li>
                            {% if item.children is defined and item.children is not empty %}
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx {{ item.icon|default('bx-folder') }}"></i>
                                    <span>{{ item.label }}</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    {% for child in item.children %}
                                        <li>
                                            <a href="{{ child.route is defined ? path(child.route) : '#' }}">
                                                {% if child.icon is defined %}<i class="bx {{ child.icon }}"></i>{% endif %}
                                                {{ child.label }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <a href="{{ item.route is defined ? path(item.route) : '#' }}" class="waves-effect">
                                    <i class="bx {{ item.icon|default('bx-folder') }}"></i>
                                    <span>{{ item.label }}</span>
                                </a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- Left Sidebar End -->
