<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
<a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <picture>
                            <source srcset="{{ asset('assets/images/logo-hotones-dark-24.webp') }}" type="image/webp">
                            <img src="{{ asset('assets/images/logo-hotones-dark-24.png') }}" alt="HotOnes" height="24">
                        </picture>
                    </span>
                    <span class="logo-lg">
                        <picture>
                            <source srcset="{{ asset('assets/images/logo-hotones-light.svg') }}" type="image/svg+xml">
                            <source srcset="{{ asset('assets/images/logo-hotones-light-250.webp') }}" type="image/webp">
                            <img src="{{ asset('assets/images/logo-hotones-light-250.png') }}" alt="HotOnes" width="250">
                        </picture>
                    </span>
                </a>

                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <picture>
                            <source srcset="{{ asset('assets/images/logo-hotones-light-24.webp') }}" type="image/webp">
                            <img src="{{ asset('assets/images/logo-hotones-light-24.png') }}" alt="HotOnes" height="24">
                        </picture>
                    </span>
                    <span class="logo-lg">
                        <picture>
                            <source srcset="{{ asset('assets/images/logo-hotones-light.svg') }}" type="image/svg+xml">
                            <source srcset="{{ asset('assets/images/logo-hotones-light-250.webp') }}" type="image/webp">
                            <img src="{{ asset('assets/images/logo-hotones-light-250.png') }}" alt="HotOnes" width="250">
                        </picture>
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <!-- App Search-->
            <form class="app-search d-none d-lg-block">
                <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="bx bx-search-alt"></span>
                </div>
            </form>

{#            <div class="dropdown dropdown-mega d-none d-lg-block ms-2">#}
{#                <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">#}
{#                    <span key="t-megamenu">Mega Menu</span>#}
{#                    <i class="mdi mdi-chevron-down"></i>#}
{#                </button>#}
{#                <div class="dropdown-menu dropdown-megamenu">#}
{#                    <div class="row">#}
{#                        <div class="col-sm-8">#}

{#                            <div class="row">#}
{#                                <div class="col-md-4">#}
{#                                    <h5 class="font-size-14" key="t-ui-components">UI Components</h5>#}
{#                                    <ul class="list-unstyled megamenu-list">#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-lightbox">Lightbox</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-range-slider">Range Slider</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-sweet-alert">Sweet Alert</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-rating">Rating</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-forms">Forms</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-tables">Tables</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-charts">Charts</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}

{#                                <div class="col-md-4">#}
{#                                    <h5 class="font-size-14" key="t-applications">Applications</h5>#}
{#                                    <ul class="list-unstyled megamenu-list">#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-ecommerce">Ecommerce</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-calendar">Calendar</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-email">Email</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-projects">Projects</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-tasks">Tasks</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-contacts">Contacts</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}

{#                                <div class="col-md-4">#}
{#                                    <h5 class="font-size-14" key="t-extra-pages">Extra Pages</h5>#}
{#                                    <ul class="list-unstyled megamenu-list">#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-light-sidebar">Light Sidebar</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-compact-sidebar">Compact Sidebar</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-horizontal">Horizontal layout</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-maintenance">Maintenance</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-coming-soon">Coming Soon</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-timeline">Timeline</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-faqs">FAQs</a>#}
{#                                        </li>#}

{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-sm-4">#}
{#                            <div class="row">#}
{#                                <div class="col-sm-6">#}
{#                                    <h5 class="font-size-14" key="t-ui-components">UI Components</h5>#}
{#                                    <ul class="list-unstyled megamenu-list">#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-lightbox">Lightbox</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-range-slider">Range Slider</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-sweet-alert">Sweet Alert</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-rating">Rating</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-forms">Forms</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-tables">Tables</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0);" key="t-charts">Charts</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}

{#                                <div class="col-sm-5">#}
{#                                    <div>#}
{#                                        <img src="/assets/images/megamenu-img.png" alt="" class="img-fluid mx-auto d-block">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

{#                </div>#}
{#            </div>#}
        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block d-lg-none ms-2">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-magnify"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-search-dropdown">

                    <form class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

{#            <div class="dropdown d-inline-block">#}
{#                <button type="button" class="btn header-item waves-effect"#}
{#                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    <img id="header-lang-img" src="/assets/images/flags/us.jpg" alt="Header Language" height="16">#}
{#                </button>#}
{#                <div class="dropdown-menu dropdown-menu-end">#}

{#                    <!-- item-->#}
{#                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="en">#}
{#                        <img src="/assets/images/flags/us.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">English</span>#}
{#                    </a>#}
{#                    <!-- item-->#}
{#                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="sp">#}
{#                        <img src="/assets/images/flags/spain.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Spanish</span>#}
{#                    </a>#}

{#                    <!-- item-->#}
{#                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="gr">#}
{#                        <img src="/assets/images/flags/germany.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">German</span>#}
{#                    </a>#}

{#                    <!-- item-->#}
{#                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="it">#}
{#                        <img src="/assets/images/flags/italy.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Italian</span>#}
{#                    </a>#}

{#                    <!-- item-->#}
{#                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="ru">#}
{#                        <img src="/assets/images/flags/russia.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Russian</span>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}

{#            <div class="dropdown d-none d-lg-inline-block ms-1">#}
{#                <button type="button" class="btn header-item noti-icon waves-effect"#}
{#                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    <i class="bx bx-customize"></i>#}
{#                </button>#}
{#                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">#}
{#                    <div class="px-lg-2">#}
{#                        <div class="row g-0">#}
{#                            <div class="col">#}
{#                                <a class="dropdown-icon-item" href="#">#}
{#                                    <img src="/assets/images/brands/github.png" alt="Github">#}
{#                                    <span>GitHub</span>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <a class="dropdown-icon-item" href="#">#}
{#                                    <img src="/assets/images/brands/bitbucket.png" alt="bitbucket">#}
{#                                    <span>Bitbucket</span>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <a class="dropdown-icon-item" href="#">#}
{#                                    <img src="/assets/images/brands/dribbble.png" alt="dribbble">#}
{#                                    <span>Dribbble</span>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}

{#                        <div class="row g-0">#}
{#                            <div class="col">#}
{#                                <a class="dropdown-icon-item" href="#">#}
{#                                    <img src="/assets/images/brands/dropbox.png" alt="dropbox">#}
{#                                    <span>Dropbox</span>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <a class="dropdown-icon-item" href="#">#}
{#                                    <img src="/assets/images/brands/mail_chimp.png" alt="mail_chimp">#}
{#                                    <span>Mail Chimp</span>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <a class="dropdown-icon-item" href="#">#}
{#                                    <img src="/assets/images/brands/slack.png" alt="slack">#}
{#                                    <span>Slack</span>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

            <div class="dropdown d-none d-lg-inline-block ms-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
                    <i class="bx bx-fullscreen"></i>
                </button>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-bell bx-tada"></i>
                    <span class="badge bg-danger rounded-pill" id="notification-count" style="display: none;">0</span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0">Notifications</h6>
                            </div>
                            <div class="col-auto">
                                <a href="{{ path('notification_index') }}" class="small">Tout voir</a>
                            </div>
                        </div>
                    </div>
                    <div id="notification-list" data-simplebar style="max-height: 300px;">
                        <div class="text-center text-muted py-3">
                            <i class="bx bx-loader bx-spin font-size-18"></i>
                            <p class="mb-0 mt-2">Chargement...</p>
                        </div>
                    </div>
                    <div class="p-2 border-top d-grid">
                        <a class="btn btn-sm btn-link font-size-14 text-center" href="{{ path('notification_index') }}">
                            <i class="mdi mdi-arrow-right-circle me-1"></i> <span>Voir toutes les notifications</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<img class="rounded-circle header-profile-user" src="{{ app.user and app.user.avatar ? app.user.avatar : asset('assets/images/users/avatar-1.jpg') }}"
                        alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ms-1">{{ app.user ? app.user.firstName : '' }}</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
<a class="dropdown-item" href="{{ path('profile_me') }}"><i class="bx bx-user font-size-16 align-middle me-1"></i> Mon compte</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="{{ path('app_logout') }}"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> Déconnexion</a>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                    <i class="bx bx-cog bx-spin"></i>
                </button>
            </div>

        </div>
    </div>
</header>
