{% include 'layouts/_main.html.twig' %}

    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Welcome{% endblock %} | HotOnes </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# SEO Meta Tags #}
        <meta name="description" content="{% block meta_description %}{{ app.request.server.get('SITE_DESCRIPTION', 'Gestion d\'agence digitale') }}{% endblock %}" />
        <meta name="author" content="{% block meta_author %}HotOnes{% endblock %}" />
        <meta name="robots" content="{% block meta_robots %}index, follow{% endblock %}" />
        <link rel="canonical" href="{% block canonical_url %}{{ app.request.uri }}{% endblock %}" />

        {# Open Graph / Facebook #}
        <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta property="og:title" content="{% block og_title %}{{ block('title') }} | {{ app.request.server.get('SITE_NAME', 'HotOnes') }}{% endblock %}" />
        <meta property="og:description" content="{{ block('meta_description') }}" />
        <meta property="og:image" content="{% block og_image %}{{ absolute_url(asset('favicon.svg')) }}{% endblock %}" />
        <meta property="og:site_name" content="{{ app.request.server.get('SITE_NAME', 'HotOnes') }}" />
        <meta property="og:locale" content="{% block og_locale %}fr_FR{% endblock %}" />

        {# Twitter Card #}
        <meta property="twitter:card" content="{% block twitter_card %}summary{% endblock %}" />
        <meta property="twitter:url" content="{{ app.request.uri }}" />
        <meta property="twitter:title" content="{{ block('og_title') }}" />
        <meta property="twitter:description" content="{{ block('meta_description') }}" />
        <meta property="twitter:image" content="{{ block('og_image') }}" />

        <base href="/">

        <!-- Favicons -->
        <link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}">
        <link rel="alternate icon" href="{{ asset('favicon.svg') }}">

        {% block stylesheets %}{% endblock %}
        {% include 'layouts/_head-css.html.twig' %}

        {# Google Tag Manager #}
        {% if app.request.server.get('GTM_ID') %}
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ app.request.server.get('GTM_ID') }}');</script>
        {% endif %}
    </head>

{% block body_tag %}
        {% include 'layouts/_body.html.twig' %}
        {% endblock %}

        {# Google Tag Manager (noscript) #}
        {% if app.request.server.get('GTM_ID') %}
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ app.request.server.get('GTM_ID') }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        {% endif %}

        {% block body %}

        <!-- Begin page -->
        <div id="layout-wrapper">

            {% include 'layouts/_menu.html.twig' %}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="flash-messages">
                            {% for type, messages in app.flashes %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ type == 'error' ? 'danger' : type }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>

                        {% block content %}
                        {% endblock %}

                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {% include 'layouts/_footer.html.twig' %}
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        {% include 'layouts/_right-sidebar.html.twig' %}

        {% include 'layouts/_vendor-scripts.html.twig' %}

        {% block javascripts %}{% endblock %}

        {# Marvin chatbot widget - Accessible sur toutes les pages #}
        {% if is_granted('ROLE_USER') %}
            {% include 'components/marvin_widget.html.twig' %}
        {% endif %}

        {% endblock %}
    </body>
</html>
