{% extends 'layouts/base.html.twig' %}

{% block title %}Éditer {{ template.name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Éditer le template : {{ template.name }}</h4>

                <div class="page-title-right">
                    <a href="{{ path('admin_onboarding_template_show', {id: template.id}) }}" class="btn btn-secondary">
                        <i class="bx bx-arrow-back me-1"></i> Retour
                    </a>
                </div>
            </div>
        </div>
    </div>

    <form method="post" action="{{ path('admin_onboarding_template_edit', {id: template.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('edit-template-' ~ template.id) }}">

        {% include 'admin/onboarding_template/_form.html.twig' %}

        <div class="row mt-3">
            <div class="col-12">
                <div class="d-flex justify-content-end gap-2">
                    <a href="{{ path('admin_onboarding_template_show', {id: template.id}) }}" class="btn btn-secondary">
                        Annuler
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bx bx-save me-1"></i> Enregistrer les modifications
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
