{% extends 'layouts/base.html.twig' %}

{% block title %}Nouveau devis{% endblock %}

{% block content %}
    {% include 'components/page_header.html.twig' with {
        title: 'Nouveau devis',
        breadcrumb: [
            {label: 'Devis', path: 'order_index'}
        ]
    } %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">
                        <i class="bx bx-file-blank me-2"></i>
                        Informations du devis
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                {{ form_row(form.name) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_row(form.project) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                {{ form_row(form.status) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                {{ form_row(form.contractType) }}
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.description) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.notes) }}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_row(form.contingencyPercentage) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_row(form.validUntil) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_row(form.contingenceAmount) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_row(form.contingenceReason) }}
                            </div>
                        </div>
                    </div>

                    {% include 'components/form_buttons.html.twig' with {
                        cancel_route: 'order_index',
                        submit_label: 'Créer',
                        layout: 'horizontal'
                    } %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}