{% extends 'layouts/base.html.twig' %}

{% block title %}Nouveau devis{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Nouveau devis</h4>
                <div class="page-title-right">
                    <a href="{{ path('order_index') }}" class="btn btn-outline-secondary">
                        <i class="bx bx-arrow-back me-1"></i> Retour à la liste
                    </a>
                </div>
            </div>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Informations du devis</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                {{ form_row(form.name) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_row(form.project) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                {{ form_row(form.status) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                {{ form_row(form.contractType) }}
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.description) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.notes) }}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_row(form.contingencyPercentage) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_row(form.validUntil) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_row(form.contingenceAmount) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form_row(form.contingenceReason) }}
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <a href="{{ path('order_index') }}" class="btn btn-outline-secondary me-2">Annuler</a>
                        <button type="submit" class="btn btn-primary">
                            <i class="bx bx-save me-1"></i> Créer le devis
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}